<app-nav></app-nav>
<main class="container-fluid">
    <div class="p-5 w-75">
        <section class="row">
            <div class="d-flex col-md-7 col-sm-12">
                <article id="profile" class="d-flex p-5">
                    <div id="image">
                        <img [src]="profileImage" alt="profileAlt">
                    </div>
                    <div id="profileInfo">
                        <div>
                            <h1 style="font-size: 48px;">{{firstName}} {{lastName}}</h1>
                            <h1>{{ zodiac.name }}</h1>
                            <blockquote>{{ user.description }} this is where description is! It can be as long or short
                                as you'd like it
                                to be.</blockquote>
                        </div>
                        <div class="py-3">
                            <a routerLink="edit" class="btn btn-primary btn-lg py-3">Edit Profile</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-5 col-sm-12">
                <article class="p-5 " id="horoscope">
                    <h3>Today's Horoscope</h3>
                    <blockquote class="blockquote">
                        {{ horo.horoscope }}
                        <footer class="blockquote footer">{{ horo.date }}</footer>
                    </blockquote>
                </article>
            </div>
        </section>
        <section class="row mt-5">
            <div class="col-md-5">
                <article id="quote">
                    <h2 class="pb-3">Inspiring Quote</h2>
                    <blockquote class="blockquote">
                        {{ quote.message }}
                        <footer class="blockquote footer">{{ quote.author }}</footer>
                    </blockquote>
                    
                    
                </article>
            </div>

            <div class="col-md-7">
                <div id="follow" class="d-flex flex-column align-content-between">
                    <article class="users">
                        <h2>Followed By</h2>
                        <span class="tip" *ngFor="let f of followBy; index as i">
                            <p class="tiptext">{{f.firstName}} {{f.lastName}}</p>
                            <img class="rounded-circle" src="assets/images/image-{{f.userid}}.png"
                                alt="assets/images/profile_picture.png" width="100px">
                        </span>
                    </article>
                    <article class="users">
                        <h2>Following</h2>
                        <span class="tip" *ngFor="let f of following; index as i">
                            <p class="tiptext">{{f.firstName}} {{f.lastName}}</p>
                            <img class="rounded-circle" src="assets/images/image-{{f.userid}}.png"
                                alt="assets/images/profile_picture.png" width="100px">
                        </span>
                    </article>
                </div>
            </div>
        </section>
    </div>
    <aside>
        <div id="zodiacInfo">
            <h1 class="text-center">{{zodiac.name}} - <span id="symbol"> {{zodiac.symbol}}</span></h1>
            <img [src]="zodiacImage" alt="zodiac image" width="100%" class="p-4 pb-5">
            <h3 class="text-center">{{zodiac.sun_dates[0]}} - {{zodiac.sun_dates[1]}}</h3>
            <div class="p-3">
                <h5>Element</h5>
                <p>{{zodiac.element}}</p>
                <h5>Cardinality</h5>
                <p>{{zodiac.cardinality}}</p>
                <h5>Compatibility</h5>
                <p>{{zodiac.compatibility}}</p>
                <h5>Ruling Planet</h5>
                <p>{{zodiac.ruling_planet}}</p>
                <h5>How to spot a {{zodiac.name}}</h5>
                <p>{{zodiac.how_to_spot}}</p>
                <h5>Secret Wish</h5>
                <p>{{zodiac.secret_wish}}</p>
                <h5>Bad Traits</h5>
                <p>{{zodiac.bad_traits}}</p>
                <h5>Good Traits</h5>
                <p>{{zodiac.good_traits}}</p>
                <h5>Favorites</h5>
                <p>{{zodiac.favorites}}</p>
                <h5>Keywords</h5>
                <p>{{zodiac.keywords}}</p>
                <h5>Vibe</h5>
                <p>{{zodiac.vibe}}</p>
                <h5>Body Parts</h5>
                <p>{{zodiac.body_parts}}</p>
                <h5>Mental Traits</h5>
                <p>{{zodiac.mental_traits}}</p>
                <h5>Physical Traits</h5>
                <p>{{zodiac.physical_traits}}</p>
                <h5>Famous People</h5>
                <p>{{zodiac.famous_people}}</p>
            </div>
        </div>
    </aside>
</main>