@import '../../../_variables';

main {
  background-image: url("../images/galaxy.jpg");
  background-color: black;
  background-size: cover;
  background-position-y: center;
  min-height: 98vh;
  position: relative;
}

#zodiacInfo,
#profile,
#horoscope,
#quote,
.users {
  border-radius: 6px;
  padding: 3em;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#quote {
  width: 30%;
  margin-right: 2.5em;
}

#follow {
  width: 68%;
}

#horoscope {
  width: 30%;
  margin: 0;
  background-color: #2d036c;
}

#zodiacInfo {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 25%;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $color3;
  }

  #symbol {
    font-family: $font2;
    font-size: 32px;
  }
}

.users, #quote {
  span {
    padding: 1.5em 2.5em 1em 0;
  }
}

.users {
  &:first-child {
    margin-bottom: 1.75em;
  }
}

#profile {
  margin: 0;
  padding: 0;
  width: 68%;
  margin-right: 2.5em;

  #image {
    margin: 2rem 0 2rem 2.5rem;
    width: 35%;
  }

  img {
    border-radius: 6px;
    width: 100%;
    height: auto;
  }

  #profileInfo {
    width: 65%;

    a {
      background-color: $color2;
      border: none;
    }

    blockquote {
      font-family: $font1;
      font-size: 1.35rem;
      line-height: 2;
      margin-top: 2rem;
      color: white;
    }
  }

  h1 {
    color: white;
  }

  .text-box {
    margin: 0;
    overflow: hidden;
    padding: 0.5em 0;
    position: relative;
    width: 100%;

    input {
      padding-bottom: 0.5em;
      outline: none;
      border: none;
      background: transparent;
      color: white;
      border-bottom: 2px solid $color2;
      width: 100%;
      margin: 6px 0;

      &:valid~label,
      &:focus~label {
        top: -20px;
        left: 0;
        color: $color2;
        font-size: 10px;
      }
    }

    label {
      padding-top: 20px;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      pointer-events: none;
      transition: 0.5s;
      font-family: 'Oswald', sans-serif;
    }
  }

  button {
    background-color: $color2;
    border: none;
    border-radius: 3em;
    color: white;
    padding: 0.5em;
    margin: 1em 0;
    width: 100%;

    &:hover {
      background-color: #310164;
    }
  }

  p {
    padding-top: 1em;
    margin: 0;
    color: white;

    a {
      color: $color2;
    }
  }
}

.tip {
  position: relative;
  display: inline-block;

  .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    top: -25px;
    z-index: 1;
  }

  &:hover {
    .tiptext {
      visibility: visible;
    }
  }

}
