$indigo: #5b3f57;
$purple: #86778C;
$beige: #bfa39a;
$lavender: #BCA4BF;
$light: #f6f6f7;

$color1: #000761;
$color2: #44008B;
$color3: #9F45B0;
$color4: #E54ED0;

$font1:'Abril Fatface', cursive;
$font2:'Oswald', sans-serif;

$primary: $purple;
$info: $indigo;
$success: #5d9e62;
$warning: #db8e2a;
$danger: #f44336;

$font-family-sans-serif: 'Inria Sans', Verdana, sans-serif;
$body-bg: $indigo;