$indigo: #5b3f57;
$purple: #86778C;
$beige: #bfa39a;
$lavender: #BCA4BF;
$light: #f6f6f7;

$primary: $purple;
$info: $indigo;
$success: #5d9e62;
$warning: #db8e2a;
$danger: #f44336;

$font-family-sans-serif: 'Inria Sans', Verdana, sans-serif;
$body-bg: $indigo;