// variables
@import 'variables';

// styling
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@700&display=swap');

  ::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    background-color: $dark;
  }

  ::-webkit-scrollbar-thumb {
    border: 8px solid $dark;
    border-radius: 20px;
    background-color: $color4;
  }

body {
  background-image: $body-bg-img, url('./assets/images/galaxy.jpg');
  background-size: 100%, cover;
  background-position: top center, center;
  background-repeat: repeat-x, no-repeat;
  background-blend-mode: multiply;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
  color: $light;
}

p {
  color: $light;
}

article {
  border: 1px solid;
  border-radius: 6px;
  margin: 1rem 0;
  padding: 3em;
  background: rgba($color: $dark, $alpha: 0.7);
  box-shadow: 0 15px 25px rgba($color: $dark, $alpha: 0.2);
  box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
