<article class="profile p-4">
    <img class="float-left mr-4 rounded" src="https://placekitten.com/g/250/250" alt="placeholder">
    <h3 class="h3">{{firstName}} {{lastName}}</h3>
    <p>Sun sign: {{ zodiac[0].name}} </p>
    <p>Sun dates: {{ zodiac[0].sun_dates[0]}} to {{ zodiac[0].sun_dates[1]}} </p>
    <button class="btn btn-danger">Follow User <i class="far fa-heart"></i></button>
    <div class="clearfix"></div>
</article>
<main class="container-fluid">
    <section class="row">
        <div class="col-md-8 order-md-1 order-sm-2">
            <section class="row">
                <div class="col-md-8">
                    <!-- <p><span class="badge badge-info"></span></p>

                    <p><span class="badge badge-info">Sun dates: {{ zodiac[0].sun_dates[0]}} to {{ zodiac[0].sun_dates[1]}}</span></p> -->

                <button (click)="toggleVis()">Click to Show/Hide More Zodiac Info</button>
                <div class="col-md-6" [hidden]="visibility">
                    <p><span class="badge badge-info">Element: {{ zodiac[0].element }}</span></p>
                    <p><span class="badge badge-info">Famous People: {{ zodiac[0].famous_people }}</span></p>
                    <p><span class="badge badge-info">How to spot: {{ zodiac[0].how_to_spot }}</span></p>
                    <p><span class="badge badge-info">Secret wish: {{ zodiac[0].secret_wish }}</span></p>
                    <p><span class="badge badge-info">Hates: {{ zodiac[0].hates }}</span></p>
                    <p><span class="badge badge-info">Bad traits: {{ zodiac[0].bad_traits }}</span></p>
                    <p><span class="badge badge-info">Good traits: {{ zodiac[0].good_traits }}</span></p>
                    <p><span class="badge badge-info">Favorites: {{ zodiac[0].favorites }}</span></p>
                    <p><span class="badge badge-info">Ruling planet: {{ zodiac[0].ruling_planet }}</span></p>
                    <p><span class="badge badge-info">Body parts: {{ zodiac[0].body_parts }}</span></p>
                    <p><span class="badge badge-info">Symbol: {{ zodiac[0].symbol }}</span></p>
                    <p><span class="badge badge-info">Keywords: {{ zodiac[0].keywords }}</span></p>
                    <p><span class="badge badge-info">Vibe: {{ zodiac[0].vibe }}</span></p>
                    <p><span class="badge badge-info">Mental traits: {{ zodiac[0].mental_traits }}</span></p>
                    <p><span class="badge badge-info">Physical traits: {{ zodiac[0].physical_traits }}</span></p>
                    <p><span class="badge badge-info">Cardinality: {{ zodiac[0].cardinality }}</span></p>
    
                </div> 


                <!-- <p><b>Body parts:</b> {{zodiac.body_parts}}</p> -->
                </div>
                <div class="col-md-6">
                    
                </div>
            </section>
        </div>
        
    </section>
</main>