<main class="container">
    <section class="row">
        <div *ngFor="let z of zodiacs" class="col-md-4">
            <article class="zodiac-card p-4">
                <h2 class="h2">{{z.name}}</h2>
                <p><span class="badge badge-info">{{ z.element }}</span></p>
                <p><b>Dates:</b> {{z.sun_dates[0]}} - {{z.sun_dates[1]}}</p>
                <ul>
                    <li *ngFor="let i of z.compatibility">
                        {{ i }}
                    </li>
                </ul>
            </article>
        </div>
    </section>
</main>