<main>
    <section class="row container-fluid py-5">
        <div class="p-3 w-25" *ngFor="let z of zodiacs">
            <article class="cards">
            <h1>{{z.name}}</h1>
            <p><span class="badge badge-info">{{ z.element }}</span></p>
            <p><b>Dates:</b> {{z.sun_dates[0]}} - {{z.sun_dates[1]}}</p>
            <ul class="text-white">
                <li *ngFor="let i of z.compatibility">
                    {{ i }}
                </li>
            </ul></article>
        </div>
    </section>
</main>