@import '../../../_variables';

main {
  margin-top: 100px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section {
  width: 85%;
}

#symbol {
  font-family: $font2;
  font-size: 32px;
  color: $light;
  background: none;
}

.modal-header {
  border-bottom: none;
}

.modalClose {
  span {
    background: none;
    color: $light;
    font-size: 36px;
    float: right;
  }
}

.cards, .zodiacModal {
  border: 1px solid;
  border-radius: 6px;
  padding: 3em 2.5em;
  background: rgba($color: $dark, $alpha: 0.9);
  box-shadow: 0 15px 25px rgba($color: $dark, $alpha: 0.2);
  box-sizing: border-box;

  img {
    margin-bottom: 2rem;
  }
}

h2 {
  font-family: $font2;
}

span {
  background-color: lighten($color: $color1, $amount: 15%);
}
