@import '../../../_variables';
main{
    background-image: url('../images/galaxy.jpg');
    background-size: cover;
    background-position-y: center;
    z-index: 0; display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section{
    width: 85%;
   
}
.cards{
    border: 1px solid;
    border-radius: 6px;
    padding:3em;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 15px 25px rgba(0,0,0, 0.2);
    box-sizing: border-box;
}

h2{
    font-family: $font2;
}
span{
    background-color: $color1;
}