<article  *ngFor="let u of filteredUsers"  class="profile p-4">
    <img class="float-left mr-4 rounded" src="https://placekitten.com/g/250/250" alt="placeholder">
    <h3 class="h3">{{u.firstName}} {{u.lastName}}</h3>
    <h3 class="h3">{{u.userid}}</h3>
    <!-- <h3 class="h3">{{u.zodiac[0].name}}</h3> -->
    <!-- <h3 class="h6"> Compatibility {{u.zodiac[0].compatibility}}</h3> -->

    <button class="btn btn-danger" type="submit" (click)="follow(u.userid)">Follow User <i class="far fa-heart"></i></button>

    <app-nested-zodiac></app-nested-zodiac>
      <div class="clearfix"></div>
</article>
