<div class="grid-container">
    <div *ngFor="let z of zodiacs"  class="zodiac-card">
        <!-- <h2>Id: {{z.id}}</h2> -->
        <p>Name: {{z.name}}</p>
        
        <a routerLink="/:name" routerLinkActive="active">{{z.name.toLowerCase()}}</a>
        <p>Sun Dates: {{z.sun_dates[0]}} to {{z.sun_dates[1]}} </p>
        <!-- <a [routerLink]="['/zodiac', z.name]">
            <span class="badge">{{ z.id }}</span>{{ z.name }}
          </a> -->
        <!-- <a routerLink></a> -->
        <!-- <app-more-info></app-more-info> -->
        <!-- <router-outlet></router-outlet> -->
        <p>===============================================</p>
    </div>
</div>
 