@import '../../../_variables';
main{
    background-image: url("https://media.giphy.com/media/3ov9k1173PdfJWRsoE/giphy.gif");
    background-color: black;
    background-size: cover;
    background-position-y: center;
    min-height: 100vh;
}
#login{

    width: 33%;
    max-width: 750px;
    border: 1px solid;
    border-radius: 6px;
    padding:3em;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 15px 25px rgba(0,0,0, 0.2);
    box-sizing: border-box;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    h1{
        text-align: center;
        color: white;
    }
    .text-box{
        margin: 0;
        overflow: hidden;
        padding: 0.5em 0;
        position: relative;
        width: 100%;

        input{
            padding-bottom: 0.5em;
            outline: none;
            border: none;
            background: transparent;
            color: white;
            border-bottom: 2px solid $color2;
            width: 100%;
            margin: 6px 0;
            position: relative;

            &:valid ~ label, &:focus ~ label{
                top: -20px;
                left: 0;
                color: $color2;
                font-size: 10px;
            }
        }

        label{
            padding-top: 20px;
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            pointer-events: none;
            transition: 0.5s;
            font-family:'Oswald', sans-serif;
        }
    }

    button{
        background-color: $color2;
        border:none;
        border-radius: 3em;
        color: white;
        padding: 0.5em;
        margin: 1em 0;
        width: 100%;

        &:hover{
             background-color: #310164;
        }
    }
    p{
        padding-top: 1em;
        margin: 0;
        text-align: center;
        color: white;

        a{
            color:$color2;
        }
    }

}

i{
    position: absolute;
    right: 0;
    bottom: 10px;
    cursor: pointer;
    padding: 15px;
  }