<main>
    <div id="login" class="form-group">
        <form>
            <h1>Sign In</h1>
            <div class="form-group text-box">
                <input type="text" name="username" id="username" [(ngModel)]="username" required/>
                <label for="username">Username</label>
            </div>
            <div class="form-group text-box">
                <input [type]="type" name="password" id="password" [(ngModel)]="password" required/><i [class]="pass" (click)="show()"></i>
                <label for="password">Password</label>
            </div>
            <div class="form-group text-box" id="error"></div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit" (click)="login()">Login</button>
            </div>
            <p class="text-align-right">Don't have an account? <a routerLink="register">Sign up for one!</a></p>
        </form>  
    </div>
</main>
