<ul *ngFor="let u of users" style="color: aliceblue;">
    <!-- <li>{{u.userid}}</li>
    <li>{{u.firstName}} {{ u.lastName}}</li> -->

<article class="profile p-4">
    <img class="float-left mr-4 rounded" src="https://placekitten.com/g/250/250" alt="placeholder">
    <h3 class="h3">{{u.firstName}} {{u.lastName}}</h3>
    <p>Sun sign: {{ zodiac[0].name}} </p>
    <p>Sun dates: {{ zodiac[0].sun_dates[0]}} to {{ zodiac[0].sun_dates[1]}} </p>
    <button class="btn btn-danger">Follow User <i class="far fa-heart"></i></button>
    <div class="clearfix"></div>
</article>

</ul> 
