<app-nav></app-nav>
<main>
  <h2>Following</h2>
  <article *ngFor="let f of following" class="profile p-4 container w-100">
    <img class="float-left mr-4 rounded" src="assets/images/image-{{f.userid}}.png" alt="placeholder">
    <h3 class="h3">{{f.firstName}} {{f.lastName}}</h3>
    <button class="btn btn-primary" type="submit" (click)="unfollow(f.userid)">Unfollow </button>                         
  </article>

  <h2>All Users</h2>
  <article *ngFor="let u of notFollowing; index as i" class="profile p-4 container w-100">
    <img class="float-left mr-4 rounded" src="assets/images/image-{{u.userid}}.png" alt="placeholder">
    <h3 class="h3">{{u.firstName}} {{u.lastName}}</h3>
    <button class="btn btn-primary" type="submit" (click)="follow(u.userid)"><i class="far fa-heart"></i>Follow </button> 
  </article>
</main>
