<main class="container-fluid">
    <section class="row">
        <div class="col-md-8 order-md-1 order-sm-2">
            <section class="row">
                <div class="col-md-6">
                    <app-profile></app-profile>
                </div>
                <div class="col-md-6">
                    <app-profile></app-profile>
                </div>
            </section>
        </div>
        <nav class="col order-md-2 order-sm-1">
            <h2 class="h2">Navigation</h2>
            <app-horoscope></app-horoscope>
        </nav>
    </section>
</main>