<app-nav></app-nav>
<main>
    <div class="col" id="edit">
        <h3 class="h3 text-center py-4">Edit Account</h3>
        <form>
            <div class="form-group text-box d-flex flex-row py-2">
                <div class="image">
                    <img [src]="profileImage">
                </div>
                <div id="desc" class="pl-4">
                    <p style="font-size: 16px;">Description: </p>
                    <textarea name="description" [(ngModel)]="description" minlength="250" cols="45" rows="6">{{description}}</textarea>
                </div>
            </div>
            <div class="form-group text-box">
                <input type="text" [(ngModel)]="firstName" value="firstName" name="firstName" minlength="5" required> 
                <label for="firstName">First Name: </label>
            </div>
            <div class="form-group text-box">
                <input type="text" [(ngModel)]="lastName" name="lastName" minlength="5" required> 
                <label for="lastName">Last Name: </label>
            </div>
            <div class="form-row pb-2" id="gender-date">
                <div class="col d-flex flex-column pr-3">
                    <label for="gender">Gender</label>
                    <div class="input-group">
                    <select class="form-control custom-select" name="gender" [(ngModel)]="gender" id="gender">
                        <option selected>Choose...</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Other</option>
                    </select>
                    </div>
                </div>
                <div class="col d-flex flex-column pl-3">
                    <label for="dob">Date of Birth: </label>
                    <div class="input-group">
                        <input class="form-control" type="date" name="dob" [(ngModel)]="dob" ngbDatepicker
                            #d="ngbDatepicker" [minDate]="{year: 1930, month: 1, day: 1}"
                            [maxDate]="{year: 2020, month: 12, day: 31}" [placement]="placement"
                            aria-describedby="dateHelp">
                    </div>
                </div>  
            </div>
            <div class="form-group text-box">
                <input type="text" [(ngModel)]="username" name="username" minlength="5" required> 
                <label for="username">Username: </label>
            </div>
            <div class="form-group text-box">
                <input [type]="type" [(ngModel)]="new_password" name="new_password" minlength="5"> <i [class]="pass" (click)="new_show()"></i>
                <label for="password">New Password: </label>
            </div>
            <div class="form-group text-box">
                <input [type]="type2" [(ngModel)]="rep_password" name="rep_password" minlength="5"><i [class]="pass2" (click)="rep_show()"></i>
                <label for="password">Repeat Password </label>
            </div>
            <div class="row d-flex flex-row justify-content-around">
                <div class="w-25">
                <button class="btn btn-primary btn-lg w-100" type="submit" (click)="edit()">Edit</button></div>
                <div class="w-25">
                <a routerLink="/profile"><button class="btn btn-primary btn-lg w-100" type="submit">Cancel</button></a></div>
            </div>
        </form>
    </div>
</main>
