@import '../../../_variables';

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $color2;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: $light;
  padding: 1em 2em;
}

.nav-link:hover {
  background-color: darken($color2, 15%);
}
